<div id="backgronudSingleForAll">
<h1 class="singleH1P">{{ product.name}}</h1>

<img class="imageCPS" src="{{product.image}}" width="200px"/>
<h3 class="singleH3P"><strong>Discription:</strong> {{product.discription}}</h3>
<h3 class="singleH3P"><strong>Sold By:</strong> {{product.soldBy}}</h3>
<h3 class="singleH3P"><strong><em>Made Between:</em></strong> {{product.madeBetween}}</h3>

<a href="/product/">
    <button>Home</button>
</a>
 
<a href="/product/editProduct/{{product._id}}">
    <button>Edit Product</button>
</a>

<form method="POST" action="/product/{{product._id}}?_method=DELETE">
    <input type="submit" value="Delete">
</form>
</div>