<h1>{{ company.name}}</h1>

<h3>Discription: {{company.discription}}</h3>
<h3>Products: {{company.products}}</h3>
<h3>Est: {{company.est}}</h3>

<a href="/company/">
    <button>Home</button>
</a>

<a href="/company/editCompany/{{company._id}}">
    <button>Edit Company</button>
</a>

<form method="POST" action="/company/{{company._id}}?_method=DELETE">
    <input type="submit" value="Delete">
</form>
