<div id="backgronudSingleForAll">
<h1 class="singleH1C">{{ company.name}}</h1>

 <img class="imageCPS" src="{{company.image}}" width="200px"/>
 <h3 class="singleH3C"><strong>Discription:</strong> {{company.discription}}</h3>
 <h3 class="singleH3C"><strong>Products:</strong> {{company.products}}</h3>
 <h3 class="singleH3C"><strong><em>Est:<em></strong> {{company.est}}</h3>

<a href="/company/">
    <button>Home</button>
</a>

<a href="/company/editCompany/{{company._id}}">
    <button>Edit Company</button>
</a>

<form method="POST" action="/company/{{company._id}}?_method=DELETE">
    <input type="submit" value="Delete">
</form>
</div>